* {
    margin: 0;
}

.header_left img{
    height: 40px;
    right: -50%;
}

#user_avatar{
    border-radius: 50%;
    width: 45px;
}

.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0,0,0,0);
}

.header_left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header_input{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header_input input{
    border: 0px;
    outline-width: 0px;
    background-color: transparent;
}

.header_middle{
    display: flex;
    flex: 1;
    justify-content: center;
}

.header_middle .header_option .material-icons{
    font-size:xx-large;
    color:silver;
}

.header_middle .header_option {
    display: flex;
    padding: 0 30px;
    align-items: center;
    cursor: pointer;
}

.header_option:hover .material-icons, 
.header_option .material-icons.active{
    color: cornflowerblue;
    border-bottom: 4px solid cornflowerblue;
}

.header_option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header_info h4 {
    margin-left: 10px;
}

.header_info {
    display: flex;
    align-items: center;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_right .material-icons{
    color: silver;
    margin: 0 10px;
    cursor: pointer;
}

.sidebarRow{
    display: flex;
    align-items: center;
    padding:10px;
    cursor: pointer;
}

.sidebarRow:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

.sidebarRow h4{
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow .material-icons{
    font-size: xx-large;
    color :cornflowerblue;
}

.story{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}

.story:hover{
    transform: scale(1.07);
}

.story .user_avatar{
    margin: 10px;
}

.story h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.storyReel{
    padding: 10px 0;
    display: flex;
}

.main_body{
    display: flex;
}

.body{
    background-color:#eff2f5;
}

.feed{
    flex:1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.sidebar{
    padding: 25px 10px;
    flex:0.33
}

.messageSender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    width: 100%;
}

.messageSender_top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.messageSender_top form{
    flex: 1;
    display: flex;
}

.messageSender_top form input{
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: gainsboro;
}

.messageSender_bottom{
    display: flex;
    justify-content: space-evenly;
}

.messageSender_option{
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.messageSender_option h3{
    font-size: medium;
    margin-left: 10px;
}

.messageSender_option:hover{
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 10px;
}

.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}

.post_image_img{
    width: 100%;    
}

.post_top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post_avatar{
    margin-right: 10px;
}

.post_topInfo{
    margin:10px;
}

.post_topInfo h3{
    font-size: medium;
}

.post_topInfo_p{
    font-size: small;
    color: gray;
}

.post_bottom{
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post_options{
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    padding: 15px;
}

.post_option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post_option p{
    margin-left: 10px;
}

.post_option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

@media(max-width:768px){
    .sidebar, .header_input input,.header_middle, .header_info, .widgets{
        display: none;
    }
    .feed{
        margin-top: 20px;
        width: 100%;
    }
}
